@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap");

* {
  font-family: "Jost", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #56ab2f;
  background: linear-gradient(to top, #56ab2f, #a8e063);
  background-attachment: fixed;
  display: grid;
  place-items: center;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.container {
  width: 90%;
  max-width: 480px;
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
}

.switch {
  width: 130px;
  height: 30px;
  cursor: pointer;
  position: relative;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  background: lightgray;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 4px;
}

.slider span,
.slider::before,
.slider::after {
  display: block;
  width: calc(50% - 4px);
  height: calc(100% - 8px);
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: inherit;
  text-align: center;
  line-height: 22px;
  font-size: 0.85rem;
  font-weight: 600;
  transition: 0.3s;
}

.slider::after {
  content: "Imperial";
  transform: translateX(100%);
}

.slider::before {
  content: "";
  background: #fff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.switch input:checked + .slider {
  background: dodgerblue;
  color: #fff;
}

.switch input:checked + .slider::before {
  left: 50%;
}

.search-form {
  display: flex;
  align-items: center;
  border: 2px solid #bbb;
  border-radius: 10px;
  height: 42px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.search-form span {
  margin: 10px;
}

.search-form input {
  height: 100%;
  font-size: 1.25rem;
  flex: 1;
  border: none;
  outline: none;
  padding: 0 5px;
}

.search-form input::-webkit-input-placeholder {
  color: #bbb;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
}

.grid-item:first-child {
  grid-column: span 2;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}

.grid-item.day-time {
  background: #56ccf2;
  background: linear-gradient(135deg, #56ccf2, #2f80ed);
}

.grid-item.night-time {
  background: #243b55;
  background: linear-gradient(135deg, #243b55, #141e30);
}

.grid-item:nth-child(n + 2) {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.grid-item h5 {
  font-size: 1rem;
  text-transform: uppercase;
  color: #56ab2f;
}

.grid-item p {
  font-size: 2rem;
}

.location {
  flex-basis: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.weather-image {
  flex-basis: 40%;
}

.weather-data {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-basis: 60%;
}

.temp {
  font-size: 4rem;
}

.unit {
  font-size: 2rem;
}

.desc {
  font-size: 1.25rem;
  text-transform: capitalize;
}

.desc + div {
  font-size: 1.15rem;
  display: flex;
  align-items: center;
  max-width: 90%;
}

.desc + div strong:last-of-type {
  margin-left: auto;
}

.desc + div strong {
  margin-right: 5px;
  color: #a8e063;
}
